<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preload" href="<%= asset_path(:css, 'site') %>" as="style" />
    <link rel="preload" href="<%= asset_path(:js, 'site') %>" as="script" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:500,700" rel="stylesheet">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= yield_content(:title) || current_page.data.title || 'Upon Arrival' %></title>
    
    <%= favicon_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'site' %>

    <meta name="theme-color" content="#F67542" >

    <% data.destinations.each do |destination_code, destination_data| %>
      <link rel="postload" href="<%= asset_path(:images, "bg-#{destination_data.slug}.jpg") %>" as="image" />
    <% end %>
  </head>
  <body class="<%= yield_content(:body_class) %>">

    <%= partial 'shared/sprite' %>

    <div class="container">

        <%= yield %>
        
    </div>
  </body>
</html>
