<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    
    <%= favicon_tag 'favicon.ico' %>

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= yield_content(:title) || current_page.data.title || 'Upon Arrival' %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="<%= yield_content(:from_location) %> <%= yield_content(:to_location) %>">

    <%= partial 'shared/sprite' %>

    <div class="container">

        <%= partial 'shared/navigation' %>

        <%= yield %>
        
    </div>

    <script>
        
    </script>
  </body>
</html>
