<% Destination.all.each do |destination| %>
  <link rel="postload" href="<%= asset_path("bg/#{destination.slug}.jpg") %>" as="image" />
<% end %>

<div class="landing--logo">
  <div class="logo-parent">
    <div class="logo-container"></div>
  </div>
</div>

<div class="row landing--search">
  <form id="locations-form" data-redirect-to="/#{wherefrom}✈️#{wheregoing}" action="#" method="post">

    <label for="wherefrom">Where are you from?</label>
    <select name="Where are you from?" id="wherefrom">
      <option value="">Where are you from?</option>
      <% ([Departure.anywhere] + Departure.all).each do |departure| %>
        <option value="<%= departure.slug %>"><%= departure.name %></option>
      <% end %>
    </select>

    <label for="wheregoing">Where are you going?</label>
    <select name="Where are you going?" id="wheregoing">
      <option value="">Where are you going?</option>
      <% Destination.all.each do |destination| %>
        <option value="<%= destination.slug %>"><%= destination.name %></option>
      <% end %>
    </select>

    <input type="submit" value="Search">


    <div class="application--user-links">
      <% if current_user %>
        <p><%= link_to "Update Profile", edit_profile_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to "Sign in with #{OmniAuth::Utils.camelize(:twitter)}", omniauth_authorize_path(:user, :twitter) %></p>
      <% end %>
    </div>
  </form>
</div>
