<div class="wrapper cards">

  <% if destination.sim.present? %>
    <div class="card--container tech">
      <div class="card--info">
        <div class="card--tag">
          <span><h3>Tech</h3></span>
        </div>
        <h1>Prepaid SIM</h1>
        <h2><%= destination.sim_highlight %></h2>
      </div>
      <div class="card--details">
        <%= destination.sim_intro if destination.sim_intro.present? %>
        <table>
          <% destination.sim.each do |field, value| %>
            <tr>
              <td><%= field %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
  
  <% if destination.emergency_numbers.present? %>
    <div class="card--container safety">
      <div class="card--info">
        <div class="card--tag">
          <span><h3>Safety</h3></span>
        </div>
        <h1>Emergency Services</h1>
        <h2><%= destination.emergency_highlight %></h2>
      </div>
      <div class="card--details">
        <table>
          <% destination.emergency_numbers.each do |field, value| %>
            <tr>
              <td><%= field %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
  
  <% if destination.ridesharing.present? %>
    <div class="card--container getting-around">
      <div class="card--info">
        <div class="card--tag">
          <span><h3>Getting Around</h3></span>
        </div>
        <h1>Ridesharing</h1>
        <p>Grab, Uber</p>
      </div>
      <div class="card--details">
        <%= destination.ridesharing %>
      </div>
    </div>
  <% end %>

  <% if destination.transport.present? %>
  <% end %>

  <% if destination.bigmac.present? %>
  <% end %>

  <% if destination.weather_today.present? %>
  <% end %>

  <% if destination.scams.present? %>
  <% end %>

  <% if destination.key_phrases.present? %>
  <% end %>

  <% if destination.water.present? %>
  <% end %>

  <% if destination.weather_typical.present? %>
  <% end %>

  <% if destination.languages.present? %>
  <% end %>

  <% if destination.currency.present? %>
  <% end %>

  <% if destination.rate.present? %>
  <% end %>

  <% if destination.favorable.present? %>
  <% end %>
  
  <div class="card--container money">
    <div class="card--info">
      <div class="card--tag">
        <span><h3>Money</h3></span>
      </div>
      <h1>Is the exchange rate favorable?</h1>
      <p>Yes.</p>
    </div>
    <div class="card--details">
      <p>Dollars have typically been stronger in the past three months.</p>
    </div>
  </div>
  
  <div class="card--container culture">
    <div class="card--info">
      <div class="card--tag">
        <span><h3>Culture</h3></span>
      </div>
      <h1>Languages</h1>
      <p>Thai</p>
    </div>
    <div class="card--details">
      <p>English is widely spoken in tourist-friendly areas.</p>
    </div>
  </div>
  
  <div class="card--container health">
    <div class="card--info">
      <div class="card--tag">
        <span><h3>Health</h3></span>
      </div>
      <h1>Can I drink the tap water?</h1>
      <p>No.</p>
    </div>
  </div>
  
  <div class="card--container weather">
    <div class="card--info">
      <div class="card--tag">
        <span><h3>Weather</h3></span>
      </div>
      <h1>Typical Weather</h1>
      <p>Tropical</p>
    </div>
    <div class="card--details">
      <p>Mid-May to September: rainy, warm, cloudy southwest monsoon</p>
      <p>November to Mid-March: dry, cool northeast monsoon</p>
    </div>
  </div>
  
</div>
