<!-- Money -->

<% if destination.currency.present? %>
  <div class="card--container money">
    <div class="card--info">
      <div class="card--tag">
        <h3>Money</h3>
      </div>
      <h1>Currency</h1>
      <h2><%= destination.currency.name %> (<%= destination.currency.code %>)</h2>
    </div>
  </div>
<% end %>

<% if destination.exchange_rate.present? %>
  <div class="card--container money">
    <div class="card--info">
      <div class="card--tag">
        <h3>Money</h3>
      </div>
      <h1>Exchange Rate</h1>
      <h2><%= exchange_rate_between(departure, destination) %> | <%= exchange_rate_between(destination, departure) %></h2>
    </div>
  </div>
<% end %>

<% if destination.rate_favorable.present? %>
  <div class="card--container money">
    <div class="card--info">
      <div class="card--tag">
        <h3>Money</h3>
      </div>
      <h1>Is the exchange rate favorable?</h1>
      <h2></h2>
    </div>
    <div class="card--details">
      <% if exchange_rate_between_favorable?(departure, destination) %>
        <p>Yes. <%= departure.currency.name %> have typically been stronger in the past three months.</p>
      <% else %>
        <p>No. <%= destination.currency.name %> have typically been stronger in the past three months.</p>
      <% end %>
    </div>
  </div>
<% end %>

<% if destination.bigmac.present? %>
  <div class="card--container money">
    <div class="card--info">
      <div class="card--tag">
        <h3>Money</h3>
      </div>
      <h1>Big Mac Index</h1>
    </div>
    <div class="card--details">
      <p><%= destination.bigmac %></p>
    </div>
  </div>
<% end %>