<!-- Safety -->

<% if destination.emergency_numbers.present? %>
  <div class="card--container safety">
    <div class="card--info">
      <div class="card--tag">
        <h3>Safety</h3>
      </div>
      <h1>Emergency Services</h1>
      <h2><%= destination.emergency_highlight %></h2>
    </div>
    <div class="card--details">
      <table>
        <% destination.emergency_numbers.each do |field, value| %>
          <tr>
            <td><%= field %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<% if destination.scams.present? %>
  <div class="card--container safety">
    <div class="card--info">
      <div class="card--tag">
        <h3>Safety</h3>
      </div>
      <h1>Scams</h1>
      <h2><%= destination.scams_highlight %></h2>
    </div>
    <div class="card--details">
      <p><%= destination.scams %></p>
    </div>
  </div>
<% end %>