<!-- Weather -->

<% if destination.weather_typical.present? %>
  <div class="card--container weather">
    <div class="card--info">
      <div class="card--tag">
        <h3>Weather</h3>
      </div>
      <h1>Typical Weather</h1>
      <h2><%= destination.weather_typical_highlight %></h2>
    </div>
    <div class="card--details">
      <p><%= destination.weather_typical %></p>
    </div>
  </div>
<% end %>

<% if destination.weather_today.present? %>
  <div class="card--container weather">
    <div class="card--info">
      <div class="card--tag">
        <h3>Weather</h3>
      </div>
      <h1>Weather Upon Arrival</h1>
      <h2><%= destination.weather_today_highlight %></h2>
    </div>
    <div class="card--details">
      <p><%= destination.weather_today %></p>
      high <%= weather_temperature_high(destination) %>
      low <%= weather_temperature_low(destination) %>
    </div>
  </div>
<% end %>