<div class="card--container <%= card.type %>">
  <div class="card--info">
    <div class="card--tag">
      <span><h3><%= card.category %></h3></span>
    </div>
    <h1><%= card.title %></h1>
    <% if card.highlight? %>
      <h2><%= card.highlight %></h2>
    <% end %>
  </div>
  <% if card.body? %>
    <div class="card--details">
      <%= card.body %>
    </div>
  <% end %>
</div>
