---
title: Upon Arrival
---
<% content_for(:body_class, 'locations') %>

<form id="locations-form" action="#" method="post">

    <label for="wherefrom">Where are you from?</label>
    <select name="Where are you from?" id="wherefrom">
      <option value="">Where are you from?</option>
      <% departures.each do |departure| %>
        <option value="<%= departure.country_code %>"><%= departure.name %></option>
      <% end %>
    </select>

    <label for="wheregoing">Where are you going?</label>
    <select name="Where are you going?" id="wheregoing">
      <option value="">Where are you going?</option>
      <% destinations.each do |destination| %>
        <option value="<%= destination[:slug] %>"><%= destination[:title] %></option>
      <% end %>
    </select>

    <input type="submit" value="Search">

</form>

<div class="row hidden">
  <div>

    <p>TODO: This should become a search/select box which sends people to the below pages.</p>

    <ul>
      <% departures.each do |departure| %>
        <% destinations.each do |destination| %>
          <li>
            <%= link_to "#{departure.name} ✈️ #{destination[:title]}", "/#{destination[:slug]}-from-#{departure.alpha2.downcase}.html" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
