<%
    from = location_data_for(from_location)
    to = location_data_for(to_location)
%>
<% content_for(:title, "#{from[:name]} going to #{to[:name]} - Upon Arrival") %>

<p>You're coming from <%= from[:name] %> going to <%= to[:name] %></p>

<div class="row row--content">
  <div id="accordion" class="navblocks" role="tablist" aria-multiselectable="true">

    <%= partial 'shared/money' %>
    <%= partial 'shared/language' %>
    <%= partial 'shared/health_and_safety' %>
    <%= partial 'shared/weather' %>

  </div>
</div>
