<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= favicon_link_tag 'favicon.ico', 'data-turbolinks-track': 'reload' %>
    <%#= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', 'data-turbolinks-track': 'reload' %>

    <meta name="theme-color" content="#F67542" >
  </head>

  <body class="<%= body_classes %>">
    <%= render 'shared/sprite' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
